/* Color Scheme:
    #0B132B
    #1C2541
    #2C415B
    #5BC0BE
    #6FFFE9
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Courier+Prime&family=Special+Elite&display=swap');

/* ==== Variables ==== */

:root {
    --page-background: #2d3241;
    --content-background: #1E212B;
    --font-color: #15d354;
    --sec-color: #f5f5f5;
    --sec-bg: #333f64;
    --hover-color: #4980d1;
    --hover-bg: #464b61;
    --hover-dropdown-bg: #2C415B;
    --glow: #5BC0BE;
    --shadow: #1C2541;
}


/* ==== Main & Theme ==== */

body {
    background-color: var(--page-background);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--content-background);
    box-shadow: 0 10px 5px 5px var(--content-background);
}

.card {
    background-color: var(--content-background);
}


/* ==== Basic stuff ==== */

p {
    margin: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    text-shadow: 0 0 10px #15d35480;
    margin-top: 15px;
    margin-bottom: 30px;
}

img {
    position: -ms-page;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--font-color);
}


/* ==== Page ==== */

.header {
    margin-bottom: 100px;
}

.section {
    margin: 0 10rem;
    border-radius: 7px;
    padding: 50px;
    justify-content: center !important;
}

.container-header {
    border-top: 10px solid var(--font-color);
    border-radius: 10px;
}

.fill-all {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden !important;
}

.centered-homepage {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    text-align: center;
}

.fit {
    object-fit: cover;
    object-position: top;
    width: 100vw;
    height: 100vh;
}

.bg-image {
    background-image: url('/assets/background.png');
    --scale: 1.5;
    top: -25%;
    left: -25%;
    /* background-size: var(--scale)+"%"; */
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(var(--scale));
    background-position: center;
    overflow: hidden;
}

#typewriter {
    /* font-family: 'Special Elite', cursive; */
    font-family: 'Courier Prime', monospace;
    color: var(--sec-bg);
    font-size: 4rem;
}

.cursor {
    border-bottom: 5px solid var(--sec-bg);
    padding-right: 40px;
    padding-top: 100px;
    font-size: 4rem;
    animation: cursor-flash 1s infinite;
}

.float {
    position: absolute;
}

.circle {
    border-radius: 50%;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: underline;
    color: #6e97c2;
}

a:hover {
    text-decoration: none;
    color: var(--sec-color);
    /* background-color: var(--hover-bg); */
}

a.nav-link {
    text-decoration: none;
    color: var(--font-color);
}

a.nav-link:hover {
    border-radius: 100px;
    color: var(--sec-color);
    background-color: var(--hover-bg);
}

a.navbar-brand:hover {
    color: var(--sec-color);
    background-color: inherit;
    transition: 0.2s;
}

.round {
    border-radius: 100px;
}

.btn {
    background-color: var(--sec-bg);
    color: var(--sec-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 10px var(--sec-bg);
    margin: 10px 10px;
}

.btn:hover {
    color: var(--sec-color);
    background-color: var(--hover-color);
    transition: 0.2s;
    box-shadow: 0 0 20px 5px #2C415B;
}


/* ==== Header / Navbar ==== */

header {
    width: 100%;
}

.navbar-brand {
    color: var(--font-color);
    text-decoration: none;
    margin-right: 0;
}

.navbar-toggler-icon {
    color: var(--font-color);
}

.dropdown-menu {
    background-color: var(--content-background);
    margin: 0.5rem 0 0;
}

.dropdown-menu.show {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    border: inherit;
}

.dropdown-item {
    text-decoration: none;
    color: var(--font-color);
}

.dropdown-item:hover {
    text-decoration: none;
    color: var(--sec-color);
    background-color: var(--hover-bg);
    /* border-radius: 2px; */
    border-radius: 0;
}


/* ==== Footer ==== */

footer {
    position: static;
    bottom: 0;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.copyright,
.terms {
    text-decoration: none;
    color: var(--font-color);
}

.copyright:hover,
.terms:hover {
    text-decoration: none;
    color: #5BC0BE;
    background-color: transparent;
}


/* ============
   == Loader ==
   ============ */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--page-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #FFF;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #FFF;
    animation: loader-inner 2s infinite ease-in;
}


/* ==== Copy Text & Tooltip ==== */

div.copy-text {
    position: relative;
    background: var(--sec-bg);
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    padding: 0;
    display: inline-flex;
}

div.copy-text input.text {
    margin: 0 5px;
    padding: 10px;
    font-size: 20px;
    background-color: inherit;
    border: none;
    outline: none;
}

div.copy-text button {
    margin: 0;
    padding: 10px;
    background: var(--font-color);
    color: var(--content-background);
    border-radius: 10px;
    cursor: pointer;
}


/* div.copy-text button {
    padding: 10px;
    background: var(--font-color);
    color: var(--content-background);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
} */

.tooltip .tooltip-inner {
    background-color: var(--font-color);
    border: unset;
    color: var(--content-background);
    font-weight: bold;
}

.tooltip .arrow::before {
    border-top-color: var(--font-color);
}


/* ==== Contact Form ==== */

input[type=text],
select,
textarea {
    color: #FFF;
    width: 100%;
    padding: 12px;
    border: unset;
    border-radius: 5px;
    background: var(--hover-bg);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    border-radius: 5px 5px 0px 5px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: var(--sec-color);
}

textarea:-moz-placeholder,
input:-moz-placeholder {
    color: var(--sec-color);
}

textarea::-moz-placeholder,
input::-moz-placeholder {
    color: var(--sec-color);
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    color: var(--sec-color);
}

textarea::placeholder,
input::placeholder {
    color: var(--sec-color);
}

input[type=submit] {
    background-color: var(--font-color);
    color: var(--content-background);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--hover-dropdown-bg);
    color: var(--sec-color);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* ==== Gallery ==== */


/* div.gallery {
    display: flexbox;
} */

div.gallery-item {
    margin-bottom: 20px;
}


/* div.gallery-item:hover {
} */

.gallery-img:hover {
    width: 150%;
    height: auto;
}

div.gallery .desc {
    padding: 15px;
    text-align: center;
    font-size: 2rem;
}


/* ==== Other ==== */

.unselected {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.glow {
    text-shadow: 0 0 20px #5BC0BE;
}

.shadow {
    text-shadow: 0 0 20px #1C2541;
}

.vertical-line {
    width: 1px;
    height: 1;
    background-color: #5BC0BE;
}


/* -- Amimations -- */

.fade-in {
    animation: fadein 1s;
}

.fade-out {
    animation: fadeout 5s;
}

.zoom-out {
    animation: zoomout 2.5s ease-in;
    opacity: 0;
}

.blur-out {
    animation: blurout 0.5s ease-in;
}

.fade-on-mouse {
    z-index: 1000;
    opacity: 0;
}

.fade-on-mouse:hover {
    opacity: 1;
    animation: fadein 0.5s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomout {
    from {
        opacity: 1;
        transform: scale(100%);
    }
    to {
        opacity: 1;
        transform: scale(0%);
    }
}

@keyframes blurout {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0);
    }
}

@keyframes cursor-flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}